<div data-w-id="7163af3e-52c6-1dcd-f3b7-32d72ae462bf" class="section para-section bg-transparent mx-0 px-2 wf-section">
  <div class="div-block-29">
    <div class="div-block-28">
      <p
        class="para"
      >
        {{ section.settings.para_text }}
      </p>
      <a
        href="{{section.settings.btn_url}}"
        class="btn btn-bg-coco w-button"
        >KNOW MORE</a
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "home_page_para",
  "class": "para-section",
  "settings": [
    {
      "type": "text",
      "id": "para_text",
      "default": "This is text",
      "label": "Paragraph"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "presets": [
    {
      "category": "home_page_para",
      "name": "Home Page Para"
    }
  ]
}
{% endschema %}
